@model Comp1640.Models.CustomUser
@{
    Layout = "~/Views/Shared/AdminLO.cshtml";

}

<div>
    <div>
        @* @if (ViewData.ModelState.IsValid == false)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error:</strong> There was a problem creating the user.
                <ul>
                    @foreach (var key in ViewData.ModelState.Keys)
                    {
                        foreach (var error in ViewData.ModelState[key].Errors)
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    }
                </ul>
            </div>
        } *@
        <form asp-controller="User" asp-action="CreateUser" method="post">
            <div class="row mb-3">
                <label asp-for="FullName" class="col-sm-3 col-form-label">
                    Full Name
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" asp-for="FullName" name="fullName" placeholder="Enter you Full Name">
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Email" class="col-sm-3 col-form-label">
                    Email
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" asp-for="Email" placeholder="Enter you email">
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="FacId" class="col-sm-3 col-form-label">Faculty</label>
                <div class="col-sm-9">
                    <select asp-for="FacId" asp-items="ViewBag.FacultyId" class="col-sm-9 form-control" name="fac">
                    </select>
                </div>
            </div>

            <input type="hidden" asp-for="ProfileImagePath" value="Waiting">

            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-3 col-form-label">
                    Password
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword" name="password"
                        placeholder="Enter your password ">
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputRole2" class="col-sm-3 col-form-label">
                    Role
                </label>
                <div class="col-sm-9">
                    @foreach (var role in ViewBag.Roles)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="@role.Name" value="@role.Id">
                            <label class="form-check-label" for="@role.Name"> @role.Name </label>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary px-5">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>