@model List<Comp1640.Models.CustomUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomUser> UserManager

@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
}

<style>
    tr>td {
        border-bottom: black solid 1px !important;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger text-center" style="font-size: 40px;">Accounts Management</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="datatables" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Faculty</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                @{
                                    var roles = await UserManager.GetRolesAsync(user);
                                    if (roles.Count > 0)
                                    {
                                        @foreach (var role in roles)
                                        {
                                            <p>@role</p>
                                        }
                                    }
                                }
                            </td>
                            <td>@Html.DisplayFor(modelUser => user.FacName)</td>
                            <td>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                                <a class="btn btn-success btn-sm" asp-action="ManageRoles" asp-route-id="@user.Id">Manage Roles</a>
                                @* <a class="btn btn-info btn-sm" asp-action="RemoveRoles" asp-route-id="@user.Id">Remove Roles</a> *@
                                @* @{
                                    if (roles.Count > 0)
                                    {
                                        @foreach (var role in roles)
                                        {
                                            @if (role == "Coordinator"){ *@
                                            <a class="btn btn-warning btn-sm" asp-action="ManageFaculty" asp-route-id="@user.Id">Manage Faculty</a>
                                            @* }
                                        }
                                    }
                                } *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>