@model Comp1640.Models.Contribution
@inject Comp1640Context _context;

@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
    var academicYear = await _context.AcademicYears.FindAsync(Model.Ayid);
}

<body>

    <div class="container">
        <h4>Contribution Details</h4>
        <hr>
        <table class="table">
            <tbody>
                <tr>
                    <th>Contribution name</th>
                    <td>@Model.ConName</td>
                </tr>
                <tr>
                    <th>Contributor</th>
                    <td>@Model.User</td>
                </tr>
                <tr>
                    <th>Academic Year</th>
                    <td>@academicYear.Name</td>
                </tr>
                <tr>
                    <th>Submition Date</th>
                    <td>@Model.SubmitDate</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <th>Public status</th>
                    <td>@Model.Buplic</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container text-center">
        <a class="btn btn-info" asp-controller="Manager" asp-action="Index">Back to List</a>
    </div>
</body>
