@model IEnumerable<Comp1640.Models.Contribution>

@{
    Layout = "~/Views/Shared/UserLO.cshtml";
}
<style>
    tr>th {
        color: red;
    }

    tr>td {
        border-bottom: black solid 1px !important;
    }
</style>
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger text-center" style="font-size: 40px;">Table of Contributions</h6>
        </div>
        <div class="p-3"><a class="btn btn-primary" asp-controller="Contribution" asp-action="Create">Create New</a>
        </div>
        <div class="card-body" style="box-sizing: border-box;">
            <div class="table-responsive">
                <table class="table table-bordered" id="datatables" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">
                                Title
                            </th>
                            <th scope="col">
                                Faculty
                            </th>
                            <th scope="col">
                                File Submitted
                            </th>
                            <th scope="col">
                                Image
                            </th>
                            <th scope="col">
                                Upload Date
                            </th>
                            <th scope="col">
                                Status
                            </th>
                            <th scope="col">
                                Public Status
                            </th>
                            <th scope="col">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ConName</td>
                                <td>@Html.DisplayFor(modelItem => item.Fac.FacName)</td>
                                <td>@item.Filepath</td>
                                <td><img src="~/uploads/@item.ImageFilePath" alt="" width="80px"/></td>
                                <td>@item.SubmitDate</td>
                                <td>@item.Status</td>
                                <td>@item.Buplic</td>
                                <td>
                                    @if (item.Status == "Approved")
                                    {
                                        <div>Your Contribution have been approve</div>
                                    }
                                    else if (item.Status == "Rejected")
                                    {

                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ConId">Delete</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ConId">Edit</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ConId">Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>
