@model IEnumerable<Comp1640.Models.Contribution>

@{
    ViewData["Title"] = "ManageContribution";
    Layout = "~/Views/Shared/AdminLO.cshtml";
}
<style>
    tr>th {
        color: red;
    }

    tr>td {
        border-bottom: black solid 1px !important;
    }
</style>
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger text-center" style="font-size: 40px;">Manage Contributions
            </h6>
        </div>
        <div class="card-body" style="box-sizing: border-box;">
            <div class="table-responsive">
                <table class="table table-bordered" id="datatables" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">
                                Contribution's Name
                            </th>
                            <th scope="col">
                                Faculty
                            </th>
                            <th scope="col">
                                File Submitted
                            </th>
                            <th scope="col">
                                Upload Date
                            </th>
                            <th scope="col">
                                Status
                            </th>
                            <th scope="col">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Status == "Pending")
                            {
                            <tr>
                                <td>@item.ConName</td>
                                <td>@ViewBag.Fac</td>
                                <td>@item.Filepath</td>
                                <td>@item.SubmitDate</td>
                                <td>@item.Status</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Download" asp-controller="Contribution"
                                        asp-route-fileId="@item.ConId">Download</a>
                                    @if (item.Status == "Pending")
                                    {
                                        <a class="btn btn-success" asp-controller="Contribution" asp-action="UpdateStatus"
                                            method="post" asp-route-fileId="@item.ConId" asp-route-status="Approve">Approve</a>
                                        <a class="btn btn-danger" asp-controller="Contribution" asp-action="UpdateStatus"
                                            method="post" asp-route-fileId="@item.ConId" asp-route-status="Reject">Reject</a>
                                    }
                                    else
                                    {

                                    }

                                    <a class="btn btn-info" asp-controller="ConFee" asp-action="Details"
                                        asp-route-id="@item.ConId">Feed back</a>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>
